/* Global Styles / For All */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body:not([style*=font-family]){
    font-family: "Source-Sans-Pro", sans-serif;
}

main{
    margin-top: 5.7vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #218279;
    border-bottom: 0.3vw solid #5ccac1;
    z-index: 9999;
}

nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    color: rgb(255, 255, 255);
}

nav ul li {
    list-style: none;
}

nav ul a {
    font-size: 2vw;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    padding: 1.4vw;
}

nav ul li::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

nav ul li:hover:after{
    width: 100%;
    background: #51cfc3;
  }

.active a{
    background-color: #32968c;
}

#schoolNameTopLeft{
    margin-left: 3%;
    color: #c1f6ed;
    font-size: 3.5vw;
    font-family: "Bebas Neue", sans-serif;
    float: left;
}

.menu-btn{
    display:none;
    color: white;
}

.enroll{
    font-family: "Bebas Neue", sans-serif;
    float: right;
    margin-right: 2.5%;
    margin-top: .5vw;
    color: #ffffff;
    text-decoration: none;
    background-color: #37c3ac;  
    font-size: 2vw;
    padding: .3vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 50px;
    border: #ffff solid 2px;
}

.notAvailable{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 80vh;
}

/* Homepgae (index.html) */
#homepage_banner{
    margin-top: -1.8vw;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-right: 2vw;
}

.agent{
    margin-top: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#agent_text{ 
    text-align: center;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 11vw;
    width: 46vw;
    left: 1vw;
}

#line{
    width: 100%;
    height: .3vw;
    background-color: black;
}

#agent_header{
    font-size: 2.5vw;
}

#agent_footer{
    font-size: 3vw;
}
nav #icon{
    color: white;
    font-size: 40px;
}

.logos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-left: auto;
    margin-bottom: 6vh;
}

.logos img{
    width: 15vw;
}

.homepage_bio{
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.homepage_bio h2{
    font-size: 5vw;
    font-family: "source-sans-pro";
    font-weight: 700;
}
.homepage_bio p{
    margin-top: 5vh;
    font-size: 1.5vw;
    
}

.LSTHS_campaign {
    margin-top: 20vh;
    width: 100%;

}
.video_container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 0;
    padding-bottom: 39.5%;
    overflow: hidden;
}

.video_container iframe,
.video_container object,
.video_container embed{
    aspect-ratio: 16/9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video_controls button.hidden{
    display: none;
}
.LSTHS_campaign .video_controls button{
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2vw;
    margin: .5vw;
}

.LSTHS_campaign .video_controls{
    position: relative;
    left: -2vw;
    display: flex;
    justify-content: space-around;
}

/* About */
.aboutLogo{
    display: flex; 
    justify-content: center;
}

.aboutLogo img{
    width: 15vw;
}

.mission-vision-core_values{
    padding: 0 70px 0 50px;
}

.mission-vision-core_values p{
    margin-left: 20px;
    text-align: justify;
}

.core-values{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.core-values li{
    border: solid 1px;
    padding: 15px;
    border-radius: 100px;
    text-align: center;
    font-style: italic;
}

/* All sections */
.section_adviser{
    text-align: center;
}

.students table{
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px; 
}

.students th,
.students td{
    width: 50%;
    border-style: solid;
    border-width: 1px;
    font-size: 1.7vw;
}

.students td:hover{
    background-color: #ebeaea;
    cursor: pointer;
}
.card{
    margin-top: 3vw;
    display: none;
    padding: 10px;
    position: relative;
    transform: translateY(0);
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 2px;
    width: 50vw;
    background-color: white;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.card img{
    border-style: solid;
    border-width: 2px;
    width: 15vw;
}

.card .Sname,
.card .Sage,
.card .Ssex,
.card .Sbday {
    position: absolute;
    display: block;
    left: 35%;
}

.card .Sname {
    top: 10%;
}

.card .Sage {
    top: 27%;
}

.card .Ssex {
    top: 44%;
}

.card .Sbday {
    top: 61%;
}

.card.active-card{
    display: block;
}

/* Grade Option Table (students.html)*/
.grade_options table{
    width: 100%;
    border-style: solid;
    border-width: .2vw;
    border-color: black;

}
.grade_options td{
    border-style: solid;
    border-width: .1vw;
    border-color: black;
    text-align: center;
    width: 100vw;
}

.grade_options a{
    text-decoration: none;
    color: black;
}

/* Contacts (contact.html)*/

.smallLogo{
    scale: 50%;
    margin: -5vw;
    margin-bottom: -2vw;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5vw;
    font-size: 1.8vw;   
}

.contact p{
    margin-bottom: 1.5vw;
    transition: transform.3s ease;
    width: auto;
}

.contact p i{
    margin-right: 1vw;
}

.contact p a{
    text-decoration: none;
    color: black;    
}

.contact-map{
    position: relative;
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 9.5vw;
}

.map{
    position: absolute;
    right: 5vw;
    width: 40%;
    height: 50vh;
    top: -2vw;
}
.map iframe{
    height: 100%;
    width: 100%;
    right: 0;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 5px 10px 10px#d5d5d5;

}

.contact p:hover{
    transform: translateY(-20%);
    text-shadow: 3px 3px 5px #c4c4c4;
}


.contact_box{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-top: 20vw;
    margin-bottom: 9vw;
    margin-top: 3.5vw;
}

.contact_us{
    position: relative;
    height: 35vw;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: -5vw;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 10px#d5d5d5;
}

.contact_inputs{
    outline: none;
    border-style: solid;
    border-color: black;
    border-width: .2vw;
    width: 95%;
    height: 10%; 
    padding-left: 25px; 
    font-weight: 500; 
    color:#666;
    border-radius: 50px;
}

.contact_inputs:hover{
    background-color: #ededed;
}

textarea.contact_inputs{
    padding-left: 25px;
    padding-top: 15px;
    height: 50%;
    border-radius: 15px;
}

/* Staff */
.principal{
    position: relative;
    text-align: center;
    width: 100%;
}

.principalName{
    font-size: 2.5vw;
}

.principalRole{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 1.5vw; 
    margin-bottom: -5vw;
}

h2{
    text-align: center;
}

.staff{
    text-align: center;
}

.staff p{
    font-size: 90%;
    margin-right: 11%;
    margin-left: 11%;
}

.staff img{
    width: 11vw;
}

.staffGroup{
    width: 100%;
    display: grid;
}

.staffGroup.SHS,
.staffGroup.NTS,
.staffGroup.SCI2{
    grid-template-columns: repeat(3, 1fr);
}

.staffGroup.MAPEH,
.staffGroup.FIL,
.staffGroup.SCI{
    grid-template-columns: repeat(4, 1fr);
}

.staffGroup.AP,
.staffGroup.ENG,
.staffGroup.MATH{
    grid-template-columns: repeat(5, 1fr);
}

.staffGroup.TLE{
    grid-template-columns: repeat(6, 1fr);
}

.staffGroup.NTS2{
    width: 300%;
    grid-template-columns: 1fr;
}


.staffGroup.SCI{
    width: 57%;
    float: left;
}

.staffGroup.SCI2{
    width: 43%;
}

.departmentVertical{
    width: 36%;
    background-color: #f5f5f5;
    border: #e9e9e9 solid 5px;
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 1.4%;
    float: left;
}

.departmentHorizontal{
    width: 63%;
    background-color: #f5f5f5;
    border: #e9e9e9 solid 5px;
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 10px;
    margin-left: 1%;
    margin-bottom: 1.2%;
    float: right;
}

.spacor{
    display: flex;
    justify-content: space-between;
}

/* Enrollment Form (enroll.html)*/
.enrollmentForm{
    position: relative; 
    margin: 3vw;
    padding: 0vw;
    border-radius: 10px;
    gap: 20px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 10px#d5d5d5;
}

.DepEd-logo-form{
    width: 10vw; 
    position: absolute; 
    margin-left: 10vw; 
    margin-top: -1vw;
}

.title-form{
    text-align: center; 
    margin-top: 2vw;
    font-size: 2.5vw;
}

.enrollmentForm .question input:not(.radioButton),
.enrollmentForm .question select{
    width: 100%;
    min-height: 2.3vw;
    border-radius: 5px;
    border: solid 1px;
    flex: 2;
}

.enrollmentForm .question .radioButton,
.enrollmentForm .radioButton{
    border: solid 1px;
    width: 1.5vw;
    height: 1.5vw;
}

.LRN_Returning{
    padding: .5vw;
    border: solid 2px;
    width: 60%;
    position: absolute;
    right: 0;
    margin-right: 5vw;
    top: 0;
    margin-top: 13vw;
    padding-bottom: 0;
}

.LRN_Returning .questions {
    display: flex;
    flex-direction: row;
}

.LRN_Returning .question {
    margin-right: 25%;
}

.LRN_Returning .question p {
    margin: 0;
    margin-right: 10px;
}

.LRN_Returning .options{
    margin-left: 15px;
    margin-bottom: 10px;
}

.enrollmentForm {
    display: inline-block;
    top: 0;
}

.form{
    padding: 1.5vw;
    margin-top: 3vw;
    border: solid 2px;
}

.form h2{
    background-color: #51cfc3;
    margin-top: -1vw;
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-align: center;
}

.questionRow{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}

.questionRow .question{
    flex: 1;
    margin-right: 1%;
}

.learnerInfo_row3 .question select{
    width: 50%;
}

.learnerInfo_row6{
    margin-top: 1vw;
    border: solid 2px;
    padding: 1vw;
}

.enrollSubmit{
    float: right; 
    margin-right: 30px; 
    margin-top: -5.5vw; 
    font-size: 2vw; 
    padding: 7px 20px 7px 20px; 
    color:white; 
    border:solid #127a82; 
    background-color: #45c1b7; 
    border-radius: 10px;
    transition: transform.3s ease;
}

.enrollSubmit:hover{
    transform:scale(1.1);
}

.enrollSubmit:active{
    transform:scale(1);
    background-color: #3fb3a9;
    border-color: #74c8ce;
}

.questionColumns{
    padding-top: 1vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.questionColumn .question{
    margin: 1vw;
}

/*footer{
    position: relative;
    bottom: 0;  
    background-color: #218279;
    color: white;
    height: 5vh;
}*/

@media only screen and (max-width: 900px) {
    .contact_box{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 15vw;
        display: block;
    }
    .contact_us{
        top: 40vw;
        height: 50vw;
        width: 90vw;
        margin-bottom: 29vw;
    }

    .contact_inputs{
        height: 10%;
    }
    textarea.contact_inputs{
        border-radius: 20px;
    }
    .contact{
        position: relative;
        font-size: 3vw;
    }

    .map{
        width: 90vw;
        height: 50vw;
        position: absolute;
        top: 25vw;
        display: flex;
        justify-content: center;
    }

    .smallLogo{
        scale: 70%;
        margin: -2vw;
    }

    .video_container{
        width: 80%;
        padding-bottom: 45%;
    }
    .homepage_bio{
        margin-top: 3vh;
    }

    .DepEd-logo-form{
        margin-left: 5vw;
    }
    .row1 h2{
        font-size: 2vw;
    }

    .form{
        margin-top: 2.5vw;
    }

    .LRN_Returning .questions{
        display: block;
    }

    .grade_options table{
        border-width: .4vw;
    }
    .grade_options td{
        display: block;
        width: 100%;
        border-width: .3vw;
    }

    .staff p{
        font-size: 100%;
        margin-right: 11%;
        margin-left: 11%;
    }
    
    .staff img{
        width: 15vw;
    }
    
    .staffGroup.SHS,
    .staffGroup.NTS,
    .staffGroup.SCI{
        grid-template-columns: repeat(4, 1fr);
    }

    .staffGroup.NTS2{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .staffGroup.SCI{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        float: none;
    }

    .staffGroup.SCI2{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .departmentVertical{
        width: 100%;
        padding: 5px;
        margin-left: 1%;
        margin-right: 1%;
        float: none;
    }
    
    .departmentHorizontal{
        width: 100%;
        padding: 5px;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1.4%;
        float: none;
    }
}
@media only screen and (max-width: 600px) {
    nav{
        border-bottom-width: .7vw;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin-top: 20px;

    }
    nav ul li a{
        font-size: 4.5vw;
    }
    nav .menu-options{
        position: fixed;
        top: 6.6vw;
        left: -100%;
        border-top: #5ccac1 solid 1px;
        background-color:#218279;
        width: 40%;
        height: 100vh;
        max-width: 225px;
        display: block;
        transition: .5s;
    }

    .menu-options.active-nav{
        left: 19%;
    }
    .active a{
        background-color: transparent;
    }
    .active{
        background-color: #32968c;
        padding: 10px;
    }
    .menu-btn{
        cursor:pointer;
        display: block;
        float: right;
        font-size: 3.7vw;
        margin: 1vw;
        margin-right: 5%;
    }
    
    .enroll{
        margin-top: 1vw;
    }

    #schoolNameTopLeft{
        font-size: 5vw;
    }

    .agent{
        margin-top: 2vw;
    }
    #agent_text{
        display: block;
    } 

    .notAvailable{
        font-size: 4vw;
    }
    main{
        margin-top: 10vw;
    }

    .students th,
    .students td{
        font-size: 2.3vw;
    }

    .contact{
        position: relative;
        font-size: 3.5vw;
    }

    .LSTHS_campaign .video_controls button{
        font-size: 4vw;
    }
    
    .LSTHS_campaign .video_controls{
        left: -5vw;
    }

    .homepage_bio p{
        font-size: 2.3vw;
    }

    .video_container{
        width: 90%;
        padding-bottom: 50.25%;
    }

    .smallLogo{
        scale: 100%;
        margin: 2vw;
    }

    .contact_us{
        margin-top: 30vw;
        height: 70vw;
    }

    .contact_box h2{
        font-size: 5vw;
    }

    .contact_inputs{
        border-radius: 7px;
        margin-top: -2vw;
    }
    
    textarea.contact_inputs{
        border-radius: 7px;
        padding-bottom: 20vw;
        margin-bottom: -3vw;
    }

    .contact-map .map{
        top: 30vw;
        width: 90vw;
        height: 60vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .map iframe{
        border-width: 7px;
    }

    .section_adviser{
        font-size: 2vw;
    }

    .card{
        border-width: 1.5px;
    }

    .card img{
        position: relative;
        left: -1vw;
        border-width: 1.5px;
    }

    .card .Sname,
    .card .Sage,
    .card .Ssex,
    .card .Sbday {
        left: 40%;
    }

    .enroll{
        margin-top: .6vw;
        font-size: 3vw;
        padding: .3vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .title-form{
        font-size: 3.7vw;
        margin-left: 10vw;
    }

    .DepEd-logo-form{
        margin-left: 2vw;
    }

    .LRN_Returning{
        position: relative;
        margin-top: 3vw;
        width: 100%;
        font-size: 4vw;
        margin-right: 0;
        padding: 2vw;
    }

    .LRN_Returning .question p{
        margin-left: 0;
    }

    .LRN_Returning .question{
        display: block;
    }

    .enrollmentForm .question .radioButton,
    .enrollmentForm .radioButton{
        width: 5vw;
        height: 5vw;
    }
    
    .row1 h2{
        font-size: 4vw;
    }

    .gradeLevelEnrollTo{
        font-size: 4vw;
    }

    .enrollmentForm{
        padding: 5vw;
    }

    .form{
        font-size: 4vw;
    }

    .form h2{
        font-size: 4vw;
    }

    .sub-title{
        font-size: 1vw;
    }

    .questionRow,
    .questionColumns{
        display: block;
    }
    
    .enrollmentForm .question input,
    .enrollmentForm .question select{
        width: 100%;
        height: 8vw;
        border-radius: 3px;
        margin-top: 1vw;
    }

    .question{
        margin-top: 3vw;
    }

    .aboutLogo img{
        width: 25vw;
    }

    .mission-vision-core_values{
        padding: 0 30px 0 10px;
    }

    .core-values{
        display: grid;
        grid-template-columns: 25% 25%;
        margin-left: -10%;
    }
    
    .core-values li{
        border: solid 1px;
        padding: 20px 0 20px 0;
        width: 160%;
        margin-bottom: 2vw;
        border-radius: 100px;
    }

    .staff p{
        font-size: 2.5vw;
        margin: 0;
    }

    .staff img{
        width: 18.5vw;
    }
    
    .staffGroup.TLE{
        grid-template-columns: repeat(3, 1fr);
    }
    .principalName{
        font-size: 3.5vw;
    }
    .principalRole{
        font-size: 2.5vw;
    }
}